# VsCode files
/server/.vs

# Server side
#####################################
/server/bin
/server/obj

/server/Web.Api/bin
/server/Web.Api/obj

/server/Web.Api.Core/bin
/server/Web.Api.Core/obj

/server/Web.Api.Infrastructure/bin
/server/Web.Api.Infrastructure/obj
/server1

# Node modules
#####################################
/client/node_modules


/server/TimeBugTracker/bin
/server/TimeBugTracker/obj
/server/TimeBugTracker.Tests/obj
/server/TimeBugTracker.Tests/bin
/server/TimeBugTracker.Domain/obj
/server/TimeBugTracker.Domain/bin
/microservice-timetrack/AraneaTimeTrack/bin
/microservice-timetrack/AraneaTimeTrack/obj
